# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
po/
.gitignore
.gitignore~

js/linea21Destinos.qml
js/linea21OLIVER.qml
js/linea21PLAZAMOZART.qml
js/linea22BOMBARDA.qml
js/linea22Destinos.qml
js/linea22LASFUENTES.qml
js/linea23ACTURReyFernando.qml
js/linea23Destinos.qml
js/linea23JOSEATARES.qml
js/linea23PARQUEVENECIA.qml
js/linea24Destinos.qml
js/linea24LASFUENTES.qml
js/linea24VALDEFIERRO.qml
js/linea25Destinos.qml
js/linea25LACARTUJA.qml
js/linea25PASEOPAMPLONA.qml
js/linea28COSO.qml
js/linea28Destinos.qml
js/linea28PEAFLOR.qml
js/linea29CAMINOLASTORRES.qml
js/linea29Destinos.qml
js/linea29SANGREGORIO.qml
js/linea30Destinos.qml
js/linea30LASFUENTES.qml
js/linea31ALJAFERIA.qml
js/linea31Destinos.qml
js/linea31PUERTOVENECIA.qml
js/linea32BOMBARDA.qml
js/linea32Destinos.qml
js/linea32SANTAISABEL.qml
js/linea33DELICIAS.qml
js/linea33Destinos.qml
js/linea33PINARESVENECIA.qml
js/linea34Destinos.qml
js/linea34ESTACIONDELICIAS.qml
js/linea34PARQUEDEATRACCIONES.qml
js/linea35Destinos.qml
js/linea35PARQUEGOYA.qml
js/linea35VIAHISPANIDAD.qml
js/linea36Destinos.qml
js/linea36PICARRAL.qml
js/linea36VALDEFIERRO.qml
js/linea38COCHERAAUZSA.qml
js/linea38Destinos.qml
js/linea38VIAHISPANIDAD.qml
js/linea39Destinos.qml
js/linea39PINARESDEVENECIA.qml
js/linea39VADORREY.qml
js/linea40Destinos.qml
js/linea40PLAZAARAGON.qml
js/linea40SANJOSE.qml
js/linea41Destinos.qml
js/linea41PUERTACARMEN.qml
js/linea41ROSALESDELCANAL.qml
js/linea42ACTURReyFernando.qml
js/linea42Destinos.qml
js/linea42LAPAZ.qml
js/linea43Destinos.qml
js/linea43JUSLIBOL.qml
js/linea43MARIAZAMBRANO.qml
js/linea44ACTURReyFernando.qml
js/linea44Destinos.qml
js/linea44ESTACIONMIRAFLORES.qml
js/linea50Destinos.qml
js/linea50SANGREGORIO.qml
js/linea51Destinos.qml
js/linea51ESTACIONDELICIAS.qml
js/linea51PRINCIPEFELIPE.qml
js/linea52Destinos.qml
js/linea52MIRALBUENO.qml
js/linea52PUERTADELCARMEN.qml
js/linea53Destinos.qml
js/linea53MIRALBUENO.qml
js/linea53PLAZAEMPERADOR.qml
js/linea54Destinos.qml
js/linea54ROSALESDELCANAL.qml
js/linea55Destinos.qml
js/linea55MONTECANAL.qml
js/linea56Destinos.qml
js/linea56VALDESPARTERA.qml
js/linea57CASABLANCA.qml
js/linea57Destinos.qml
js/linea58Destinos.qml
js/linea58FUENTEJUNQUERA.qml
js/linea59ARCOSUR-TRANVIA.qml
js/linea59Destinos.qml
js/lineaC1COMPLEJOFUNERARIO.qml
js/lineaC1Destinos.qml
js/lineaC1PLAZACANTERAS.qml
js/lineaC4Destinos.qml
js/lineaC4PLAZACANTERAS.qml
js/lineaC4PUERTOVENECIA.qml
js/lineaCi1Destinos.qml
js/lineaCi2Destinos.qml
js/lineaL1Destinos.qml
js/lineaN1Destinos.qml
js/lineaN2Destinos.qml
js/lineaN3Destinos.qml
js/lineaN4Destinos.qml
js/lineaN5Destinos.qml
js/lineaN6Destinos.qml
js/lineaN7Destinos.qml
js/lineas.json
js/lineasAuzasaJson.zip
js/lineasTuzsaJS-QML.zip
